@import "../vendor/dscheinah/sx-css/src/button.css";
@import "../vendor/dscheinah/sx-css/src/form.css";
@import "../vendor/dscheinah/sx-css/src/layout.css";
@import "../vendor/dscheinah/sx-css/src/menu.css";
/* Only the modules required for the example are imported. Add more if needed. */
@import "../vendor/dscheinah/sx-css/src/cards.css";
@import "../vendor/dscheinah/sx-css/src/table.css";

:root {
    /* Used for navigations and highlighted (non interactive) parts. */
    --primary-color: #577bfb;
    --primary-color-highlight: lightgray;
    --primary-color-inverse: white;
    /* Used for interactive parts (buttons and errors). */
    --secondary-color: #ea7d23;
    --secondary-color-highlight: #f9e94e;
    --secondary-color-inverse: black;
    /* Used for interactive highlights (anchors and focus). */
    --tertiary-color: #f9e94e;
    --tertiary-color-highlight: lightgrey;
}

@media only screen and (max-width: 550px) {
    .sx-navigation {
        font-size: 0;
    }

    .sx-navigation .sx-button-icon {
        font-size: 1.2rem;
        margin-left: 1.2em;
    }
}

progress {
    appearance: none;
    background: none;
    border: 1px solid lightgray;
    --progress-color: var(--tertiary-color);
}

::-webkit-progress-bar {
    background: none;
}

::-webkit-progress-value {
    background-color: var(--progress-color);
}

::-moz-progress-bar {
    background-color: var(--progress-color);
}

.app-notify {
    position: relative;
}

.app-notify:after {
    content: "";
    position: absolute;
    top: -.5em;
    left: -.5em;
    display: block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1;
    text-align: center;
    background: var(--primary-color);
    border-radius: 50%;
    z-index: 3000;
}

.hero span {
    display: inline-block;
}

.hero-table.hero-table {
    width: 100%;
    max-width: 520px;
    margin: .5em 0
}

.hero-table td {
    min-width: 25px;
}
